#prat1 {
	width: 49%;
	height: 300px;
	float: left;
}

#prat2 {
	width: 49%;
	height: 300px;
	float: left;
}

#prat3 {
	width: 49%;
	height: 400px;
	float: left;
	clear: left;
}

#prat4 {
	width: 49%;
	height: 400px;
	float: left;
}

#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 65%;
}

#customers td {
	font-size: 1em;
	padding: 3px 7px 2px 7px;
	width: 80px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
}

#fieldset1 {
	width: 80%;
	border: 11px solid #B5B8C8;
	margin: 10px 0px 10px 50px;
	height: 250px;
	display: block;
}

#customers2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 100%;
	margin-left:120px;
}

#customers2 td {
	font-size: 1em;
	padding: 3px 7px 2px 7px;
	width: 80px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}

#fieldset2 {
	width: 80%;
	border: 11px solid #B5B8C8;
	margin: 10px 0px 10px 50px;
	height: 250px;
	display: block;
}

#fieldset3 {
	width: 80%;
	border: 11px solid #B5B8C8;
	margin: 30px 0px 10px 50px;
	height: 300px;
	display: block;
}

#fieldset4 {
	width: 80%;
	border: 11px solid #B5B8C8;
	margin: 30px 0px 10px 50px;
	height: 300px;
	display: block;
}